section{
    position: relative;
    background-color: $main-5;
    *{color: $main-1;}

    .title-container{            
        text-align: center;
        max-width: 1280px;
        margin-bottom: 2rem;
    }

    .card-container{
        position: relative;
        border: 2px solid $main-1;
        border-radius: $radius-1;
        padding: 2rem 2rem 2rem 2rem;

        &::after{
            content: '\f128';
            font-family: $awesome-icon;
            font-weight: 900;
            font-size: 4rem;
            position: absolute;
            left: .5rem;
            top: -.25rem;
            color: $main-3;
        }

        .question{
            position: relative;
            font-size: 1.35rem;
            font-weight: bold;
            margin-bottom: 1rem;
            z-index: 1;
        }
    }
}