section{
    position: relative;    
    *{color: $main-1;}

    .title-container{
        margin-bottom: 2rem;
    }

    .contact-detail{
        margin-top: 2rem;
        display: grid;
        gap: 1rem;

        .info-container{
            display: flex;
            gap: 1rem;
        }

        .form-container{
            border-radius: $radius-1;
            border: 2px solid $main-1;
            padding: 1rem 1.5rem;

            label{
                font-weight: bold;
                margin-block: 1rem .5rem;
            }
            input, textarea{
                background-color: rgb(147 190 227 / .2);
                border: $radius-1 !important;
                width: 100%;

                &:focus-within, &:focus{
                    outline: 1px solid $main-5 !important;
                }
            }
            textarea{
                padding: .5rem;
                border-radius: $radius-1;
            }

            button{
                margin-block: 1rem;
                background-color: $main-1;
                padding: .75rem 2rem;
                min-width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: $radius-1;
            }
        }
    }

    .image-container{
        margin-top: 3rem;
        min-height: 500px;
        max-width: 1000px;
        max-height: 1000px;
        display: flex;
        justify-content: center;
        border-radius: $radius-1;
        background-color: $main-5;

        .image{
            width: 100%;
            height: 100%;
            border-radius: $radius-1;
            background: url('@/assets/images/misc/contact-01.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}